 ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    h2 {
        flex-direction: column !important;
        text-align: center;
    }
    #current-city {
        margin-bottom: 0.75em;
    }
}
